<ion-list>
    <ion-item button (click)="dismiss()">
        <ion-icon color="blue" name="eye-outline"></ion-icon>
        <ion-label class="ion-margin-start">Ver Mas Tarde</ion-label>
    </ion-item>
    <ion-item button (click)="dismiss()">
        <ion-icon color="blue" name="star-outline"></ion-icon>
        <ion-label class="ion-margin-start">Agregar a Favoritos</ion-label>
    </ion-item>
    <ion-item button (click)="dismiss()">
        <ion-icon color="blue" name="megaphone-outline"></ion-icon>
        <ion-label class="ion-margin-start">Denunciar</ion-label>
    </ion-item>
</ion-list>