.row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
}

.side {
    -ms-flex: 12%;
    /* IE10 */
    flex: 12%;
    padding: 10px;
}

.side::before {
    content: '';
    height: 75%; //You can change this if you want smaller/bigger borders
    width: 2px;
    position: absolute;
    right: -10px;
    top: 0; // If you want to set a smaller height and center it, change this value
    background-color: #043C66; // The color of your border
    //
}

.main {
    -ms-flex: 50%;
    /* IE10 */
    flex: 50%;
    padding: 10px;
}

.input {
    border: 2px #043C66 solid;
    border-radius: 12px;
}

#btnguardar {
    border: 1px solid orange;
    border-radius: 10px;
}

#btncancelar {
    border: 1px solid orange;
    border-radius: 10px;
}

#fechainicio {
    border: 3px #043C66 solid;
    border-radius: 12px;
    color: #043C66;
}

#credenciales {
    border-radius: 12px;
    color: #043C66;
    width: 100%;
    border-radius: 12px;
}

ion-checkbox {
    --border-color: orange;
}

ion-row {
    width: 97%;
}

ion-select::part(icon) {
    color: #043C66;
    opacity: 1;
}

ion-select::part(text) {
    color: #043C66;
}

ion-select::part(placeholder) {
    color: #043C66;
    opacity: 1;
}

ion-select {
    background-color: #ddd;
    border-radius: 5px;
}

@media screen and (max-width: 700px) {
    #credenciales {
        width: 310px;
    }
}