<ion-content>
    <ion-row size="12">
        <ion-col size="2.5">
            <ion-img style="height: 50px;" src="assets/iconos2/avatar.png"></ion-img>
        </ion-col>
        <ion-col size="7">
            <p id="nombreusuario">Norman Riascos</p>
            <p id="carrerausuario">Mag. Ingenieria</p>
            <p id="descusuario">Apasionado por las tecnologias</p>
        </ion-col>
        <ion-col size="2.5">
            <a style="font-size:small;color: #073c66;" href="/">Mi Perfil</a>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-row>
            <ion-col size="9">
                <ion-label style="font-size: small;">Categorias de Interes</ion-label>
            </ion-col>
            <ion-col class="ion-float-right">
                <ion-row class="ion-float-right">
                    <ion-img class="ion-float-right" style="width:20%;" src="assets/icon/pencil-color.png"></ion-img>
                    <a class="ion-float-right" style="font-size: small;color: #073c66;" href="">Editar</a>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-row>
    <ion-row>
        <ion-row size="9">
            <div id="categoria">
                <ion-label id="nombrecategoria">Deporte</ion-label>
            </div>
            <div id="categoria">
                <ion-label id="nombrecategoria">Categoria</ion-label>
            </div>
        </ion-row>
    </ion-row>
    <ion-row style="border-top: #ddd 2px solid;border-bottom: #ddd 2px solid;">
        <ion-col class="ion-margin-top" size="12">
            <ion-row>
                <ion-icon color="orange" name="pencil-outline"></ion-icon>
                <a class="ion-margin-start" style="font-size: small;color: #073c66;" href="">Mi Cuenta</a>
            </ion-row>
        </ion-col>
        <ion-col size="12">
            <ion-row>
                <ion-icon color="orange" name="chatbox-outline"></ion-icon>
                <a class="ion-margin-start" style="font-size: small;color: #073c66;" href="">Mensajes</a>
            </ion-row>
        </ion-col>
        <ion-col size="12">
            <ion-row>
                <ion-icon color="orange" name="notifications-outline"></ion-icon>
                <a class="ion-margin-start" style="font-size: small;color: #073c66;" href="">Notificaciones</a>
            </ion-row>
        </ion-col>
        <ion-col size="12">
            <ion-row>
                <ion-icon color="orange" name="person-outline"></ion-icon>
                <a class="ion-margin-start" style="font-size: small;color: #073c66;" href="">Mi Actividad</a>
            </ion-row>
        </ion-col>
        <ion-col size="12" class="ion-margin-bottom">
            <ion-row>
                <ion-icon color="orange" name="reader-outline"></ion-icon>
                <a class="ion-margin-start" style="font-size: small;color: #073c66;" href="">Datos</a>
            </ion-row>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col class="ion-margin-top" size="12">
            <ion-row>
                <ion-icon name="settings-outline"></ion-icon>
                <a class="ion-margin-start" style="font-size: small;color: #073c66;" href="">Configuracion</a>
            </ion-row>
        </ion-col>
        <ion-col size="12">
            <ion-row>
                <ion-icon name="lock-closed-outline"></ion-icon>
                <a class="ion-margin-start" style="font-size: small;color: #073c66;" href="">Privacidad</a>
            </ion-row>
        </ion-col>
        <ion-col size="12">
            <ion-row>
                <ion-icon name="globe-outline"></ion-icon>
                <a class="ion-margin-start" style="font-size: small;color: #073c66;" href="">Cambiar Idioma</a>
            </ion-row>
        </ion-col>
        <ion-col size="12">
            <ion-row>
                <ion-icon name="receipt-outline"></ion-icon>
                <a class="ion-margin-start" style="font-size: small;color: #073c66;" href="">Terminos y Condiciones</a>
            </ion-row>
        </ion-col>
        <ion-col size="12">
            <ion-row>
                <p style="color: #073c66;">Cerrar Sesion</p>
            </ion-row>
        </ion-col>
    </ion-row>
</ion-content>