<ion-content>
    <div id="preguntas">
        <br>
        <div id="monetiza">
            <h5>Círculos</h5>
        </div>
        <br>
        <ion-row>
            <p>Juridicos</p>
        </ion-row>
        <ion-row>
            <p>Deportes</p>
        </ion-row>
        <ion-row>
            <p>Ventas</p>
        </ion-row>
        <ion-row>
            <p>Ciencias y Tecnologia</p>
        </ion-row>
    </div>
    <br>
    <div>
        <ion-img src="assets/iconos2/clickhere.png "></ion-img>
    </div>
</ion-content>