<ion-header>
    <app-header-cv></app-header-cv>
</ion-header>

<ion-content>
    <div class="row">
        <div class="side">
            <app-left-cv></app-left-cv>
        </div>
        <div class="main">
            <ion-grid>
                <ion-row>
                    <app-info></app-info>
                </ion-row>
            </ion-grid>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <div style="font-weight: bold; color: #043C66; ">
                            <p style="border-bottom: #043C66 2px solid;">
                                Estudios Profesionales
                            </p>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            <a id="link" href="# " class="underline">Editar
                          <ion-icon name="brush"></ion-icon>
                      </a>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <div>
                            <p style="color: #043C66; ">Tipos de credenciales</p>
                        </div>
                        <div>
                            <p>Grado - Oficial - Profesional</p>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            <p style="color: #043C66; ">Estudios</p>
                        </div>
                        <div>
                            <p>Ingenieria industrial</p>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            <p style="color: #043C66; ">Donde estudio</p>
                        </div>
                        <div>
                            <p>Universidad del Valle - Regional Call</p>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <div>
                            <p style="color: #043C66; ">Fecha de Inicio</p>
                        </div>
                        <div>
                            <p>21/02/16</p>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            <p style="color: #043C66; ">Fecha de Finalizacion</p>
                        </div>
                        <div>
                            <p>21/02/20</p>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            <p style="color: #043C66; ">Otros</p>
                        </div>
                        <div>
                            <p>Articulos</p>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <div>
                            <ion-button id="verCertificado" color="orangewhite">Ver Certificado
                            </ion-button>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            <a style="color: #043C66;" class="ion-padding-right" href="http://vitela.javerianacali.edu.co/bitstream/handle/11522/11222/Diplomas_académicos_digitales_Blockchain.pdf?sequence=1&isAllowed=y" class="underline">
                                <ion-icon color="blue" name="document-outline"></ion-icon> Certificado Magister Norman Riascos
                            </a>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <div style="font-weight: bold; color: #043C66; ">
                            <p style="border-bottom: #043C66 2px solid;">
                                Nombres de Articulos Academicos y Cientificos
                            </p>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            <a id="link" href="# " class="underline">Editar
                                <ion-icon name="brush"></ion-icon>
                            </a>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <div>
                            <p style="color: #043C66; ">Nombre</p>
                        </div>
                        <div>
                            <p>Lorem ipsum dolor sit amet. Est repellendus nesciunt in sunt adipisci eum sequi quasi!</p>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            <p style="color: #043C66; ">Area</p>
                        </div>
                        <div>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <div>
                            <p style="color: #043C66; ">Descripcion</p>
                        </div>
                        <div>
                            <p>Lorem ipsum dolor sit amet. Est repellendus nesciunt in sunt adipisci eum sequi quasi! Et aliquid dignissimos eum dolorem itaque eos quisquam accusantium aut dolor sunt. Sit commodi corrupti est quod numquam est dolorem amet.
                                Qui similique velit ea perspiciatis maiores ut soluta deserunt.</p>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <div>
                            <p style="color: #043C66; ">Fecha de Publicacion</p>
                        </div>
                        <div>
                            <p>21/12/20</p>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            <p style="color: #043C66; ">Url del Articulo</p>
                        </div>
                        <div style="color: skyblue;">
                            <a href="https://www.ub.edu/doctorat_eapa/wp-content/uploads/2012/12/El-art%C3%ADculo-cient%C3%ADfico_aspectos-a-tener-en-cuenta.pdf ">https://www.ub.edu/doctorat_eapa/wp-content/uploads/2012/12/El-art%C3%ADculo-cient%C3%ADfico_aspectos-a-tener-en-cuenta.pdf</a>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <div style="font-weight: bold; color: #043C66; ">
                            <p style="border-bottom: #043C66 2px solid;">
                                Nombres de Libros
                            </p>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            <a id="link" href="# " class="underline">Editar
                              <ion-icon name="brush"></ion-icon>
                          </a>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <div>
                            <p style="color: #043C66; ">Nombre</p>
                        </div>
                        <div>
                            <p>Lorem ipsum dolor sit amet. Est repellendus nesciunt in sunt adipisci eum sequi quasi!</p>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            <p style="color: #043C66; ">Area</p>
                        </div>
                        <div>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <div>
                            <p style="color: #043C66; ">Descripcion</p>
                        </div>
                        <div>
                            <p>Lorem ipsum dolor sit amet. Est repellendus nesciunt in sunt adipisci eum sequi quasi! Et aliquid dignissimos eum dolorem itaque eos quisquam accusantium aut dolor sunt. Sit commodi corrupti est quod numquam est dolorem amet.
                                Qui similique velit ea perspiciatis maiores ut soluta deserunt.</p>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <div>
                            <p style="color: #043C66; ">Fecha de Publicacion</p>
                        </div>
                        <div>
                            <p>21/12/20</p>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            <p style="color: #043C66; ">Url del Articulo</p>
                        </div>
                        <div style="color: skyblue;">
                            <a href="https://www.ub.edu/doctorat_eapa/wp-content/uploads/2012/12/El-art%C3%ADculo-cient%C3%ADfico_aspectos-a-tener-en-cuenta.pdf ">https://www.ub.edu/doctorat_eapa/wp-content/uploads/2012/12/El-art%C3%ADculo-cient%C3%ADfico_aspectos-a-tener-en-cuenta.pdf</a>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <div style="font-weight: bold; color: #043C66; ">
                            <p style="border-bottom: #043C66 2px solid;">
                                Proyectos academicos y laborales
                            </p>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            <a id="link" href="# " class="underline">Editar
                            <ion-icon name="brush"></ion-icon>
                        </a>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <div>
                            <p style="color: #043C66; ">Nombre de proyecto</p>
                        </div>
                        <div>
                            <p>Lorem ipsum dolor sit amet. Est repellendus nesciunt in sunt adipisci eum sequi quasi!</p>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            <p style="color: #043C66; ">Categoria del proyecto</p>
                        </div>
                        <div>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <div>
                            <p style="color: #043C66; ">Descripcion</p>
                        </div>
                        <div>
                            <p>Lorem ipsum dolor sit amet. Est repellendus nesciunt in sunt adipisci eum sequi quasi! Et aliquid dignissimos eum dolorem itaque eos quisquam accusantium aut dolor sunt. Sit commodi corrupti est quod numquam est dolorem amet.
                                Qui similique velit ea perspiciatis maiores ut soluta deserunt.</p>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <div>
                            <p style="color: #043C66; ">Fecha de Inicio</p>
                        </div>
                        <div>
                            <p>21/12/20</p>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            <p style="color: #043C66; ">Fecha de Finalizacion</p>
                        </div>
                        <div>
                            <p>21/12/20</p>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <div>
                            <p style="color: #043C66; ">Url del Articulo</p>
                        </div>
                        <div style="color: skyblue;">
                            <a href="https://www.ub.edu/doctorat_eapa/wp-content/uploads/2012/12/El-art%C3%ADculo-cient%C3%ADfico_aspectos-a-tener-en-cuenta.pdf ">https://www.ub.edu/doctorat_eapa/wp-content/uploads/2012/12/El-art%C3%ADculo-cient%C3%ADfico_aspectos-a-tener-en-cuenta.pdf</a>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            <p style="color: #043C66; ">Participantes</p>
                        </div>
                        <div>
                            <p>Guillermo Salazar</p>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <div style="font-weight: bold; color: #043C66; ">
                            <p style="border-bottom: #043C66 2px solid;">
                                Otros Logros Academicos
                            </p>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            <a id="link" href="# " class="underline">Editar
                              <ion-icon name="brush"></ion-icon>
                          </a>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <div>
                            <p style="color: #043C66; ">Nombre</p>
                        </div>
                        <div>
                            <p>Lorem ipsum dolor sit amet. Est repellendus nesciunt in sunt adipisci eum sequi quasi!</p>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            <p style="color: #043C66; ">Area</p>
                        </div>
                        <div>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <div>
                            <p style="color: #043C66; ">Descripcion</p>
                        </div>
                        <div>
                            <p>Lorem ipsum dolor sit amet. Est repellendus nesciunt in sunt adipisci eum sequi quasi! Et aliquid dignissimos eum dolorem itaque eos quisquam accusantium aut dolor sunt. Sit commodi corrupti est quod numquam est dolorem amet.
                                Qui similique velit ea perspiciatis maiores ut soluta deserunt.</p>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <div>
                            <p style="color: #043C66; ">Fecha de Publicacion</p>
                        </div>
                        <div>
                            <p>21/12/20</p>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            <p style="color: #043C66; ">Url del Articulo</p>
                        </div>
                        <div style="color: skyblue;">
                            <a href="https://www.ub.edu/doctorat_eapa/wp-content/uploads/2012/12/El-art%C3%ADculo-cient%C3%ADfico_aspectos-a-tener-en-cuenta.pdf ">https://www.ub.edu/doctorat_eapa/wp-content/uploads/2012/12/El-art%C3%ADculo-cient%C3%ADfico_aspectos-a-tener-en-cuenta.pdf</a>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <div style="font-weight: bold; color: #043C66; ">
                            <p style="border-bottom: #043C66 2px solid;">
                                Certificacion SENA
                            </p>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            <a id="link" href="# " class="underline">Editar
                              <ion-icon name="brush"></ion-icon>
                          </a>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <div>
                            <p style="color: #043C66; ">Tipos de credenciales</p>
                        </div>
                        <div>
                            <p>Grado - Oficial - Profesional</p>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            <p style="color: #043C66; ">Estudios</p>
                        </div>
                        <div>
                            <p>Ingenieria industrial</p>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            <p style="color: #043C66; ">Donde estudio</p>
                        </div>
                        <div>
                            <p>Universidad del Valle - Regional Call</p>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <div>
                            <p style="color: #043C66; ">Fecha de Inicio</p>
                        </div>
                        <div>
                            <p>21/02/16</p>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            <p style="color: #043C66; ">Fecha de Finalizacion</p>
                        </div>
                        <div>
                            <p>21/02/20</p>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            <p style="color: #043C66; ">Otros</p>
                        </div>
                        <div>
                            <p>Articulos</p>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <div>
                            <ion-button id="verCertificado" color="orangewhite">Ver Certificado
                            </ion-button>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            <a style="color: #043C66;" class="ion-padding-right" href="http://vitela.javerianacali.edu.co/bitstream/handle/11522/11222/Diplomas_académicos_digitales_Blockchain.pdf?sequence=1&isAllowed=y" class="underline">
                                <ion-icon color="blue" name="document-outline"></ion-icon> Certificado Magister Norman Riascos
                            </a>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>