<ion-header>
    <app-header></app-header>
</ion-header>

<ion-content>
    <div class="row">
        <div class="side" style="background: white;">
            <app-sectionleftperfil></app-sectionleftperfil>
        </div>


        <div class="main" style="background: #ddd;">
            <div id="aprendizaje">
                <div id="audio">
                    <h5>Aprende mas rapido y fácil escuchando audio-articulos y respondiendo cuestionarios</h5>
                </div>
            </div>
            <br>
            <div id="pregunta">
                <div id="boton">
                    <ion-button class="ion-margin" (click)="presentModal()">
                        <ion-img class="ion-margin-end" style="width: 5%;" src="assets/iconos/escribir.png"></ion-img>
                        <ion-label style="margin-right: auto;">Haz una pregunta a la comunidad</ion-label>
                    </ion-button>
                </div>
                <ion-row class="ion-padding-start ion-margin-bottom">
                    <ion-col size="3">
                        <div>
                            <ion-row>
                                <ion-img style="width: 20px;" src="assets/iconos/link.png"></ion-img>
                                <ion-label style="margin-left: 5px;">Foto</ion-label>
                            </ion-row>
                        </div>
                    </ion-col>
                    <ion-col style="cursor: pointer;" (click)="compartilink()" size="3">
                        <div>
                            <ion-row>
                                <ion-img style="width: 20px;" src="assets/iconos/foto.png"></ion-img>
                                <ion-label style="margin-left: 5px;">Link</ion-label>
                            </ion-row>
                        </div>
                    </ion-col>
                </ion-row>
            </div>
            <br>
            <div id="pregunta">
                <ion-grid class="ion-padding-bottom">
                    <ion-row size="12">
                        <ion-col size="2">
                            <ion-img style="height: 50px;" src="assets/iconos2/avatar.png"></ion-img>
                        </ion-col>
                        <ion-col>
                            <ion-row>
                                <ion-col class="ion-no-margin ion-no-padding">
                                    <p id="nombreusuario">Norman Riascos</p>
                                    <p id="carrerausuario">Mag. Ingenieria</p>
                                    <p class="ion-no-margin" style="font-size:x-small;">12 horas</p>
                                </ion-col>
                            </ion-row>
                        </ion-col>
                        <ion-col class="ion-no-margin ion-no-padding">
                            <ion-button class="ion-float-right" id="follow">
                                Seguir
                            </ion-button>
                        </ion-col>
                        <ion-col size="1" class="ion-no-padding" style="padding-left: 5px;">
                            <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
                        </ion-col>
                    </ion-row>
                    <ion-row class="ion-padding-start ion-padding-end">
                        <ion-row class="ion-no-padding">
                            <ion-col size="12">
                                <b class="ion-no-padding" style="font-size: small;">Como invertir en la bolsa de valores por medio de Forex?</b>
                            </ion-col>
                        </ion-row>
                        <ion-col size="12">
                            <p class="ion-text-justify" style="font-size:smaller; margin-top: 0px;">Lorem Ipsum ist ein einfacher Demo-Text für die Print- und Schriftindustrie. Lorem Ipsum ist in der Industrie bereits der Standard Demo-Text seit 1500, als ein unbekannter Schriftsteller eine Hand voll Wörter nahm und diese
                                durcheinander warf um ein Musterbuch zu erstellen.
                            </p>
                        </ion-col>
                        <ion-row class="btnreaction">
                            <ion-col>
                                <ion-row>
                                    <ion-icon name="chatbox-outline"></ion-icon>
                                    <p id="comments">200 comentarios</p>
                                </ion-row>
                            </ion-col>
                            <ion-col>
                                <ion-row>
                                    <ion-icon name="eye-outline"></ion-icon>
                                    <p id="view">200 visualizaciones</p>
                                </ion-row>
                            </ion-col>
                            <ion-col>
                                <ion-row>
                                    <ion-icon name="share-social-outline"></ion-icon>
                                    <p id="share">200 compartidas</p>
                                </ion-row>
                            </ion-col>
                            <ion-col>
                                <ion-row>
                                    <ion-icon name="add-outline"></ion-icon>
                                    <p id="sigue">200 siguiendo</p>
                                </ion-row>
                            </ion-col>
                        </ion-row>
                    </ion-row>
                    <ion-row class="cajareaccion">
                        <ion-col>
                            <ion-row>
                                <ion-icon name="thumbs-up-outline" color="orange"></ion-icon>
                                <p>Reaccionar</p>
                            </ion-row>
                        </ion-col>
                        <ion-col>
                            <ion-row>
                                <ion-icon name="chatbox-outline" color="orange"></ion-icon>
                                <p>Comentar</p>
                            </ion-row>
                        </ion-col>
                        <ion-col>
                            <ion-row>
                                <ion-icon name="share-social-outline" color="orange"></ion-icon>
                                <p>Compartir</p>
                            </ion-row>
                        </ion-col>
                        <ion-col>
                            <ion-row>
                                <ion-icon name="add-circle-outline" color="orange"></ion-icon>
                                <p>Seguir</p>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                    <ion-row class="ion-padding-start ion-padding-end">
                        <ion-col size="12" style="background-color: #ddd;border-radius: 12px;">
                            <ion-row>
                                <ion-img style="width:25px;" src="assets/iconos/mensaje.svg"></ion-img>
                                <p style="padding-left: 10px;font-size: small;">Haz una pregunta a la comunidad!</p>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
            <br>
            <div id="pregunta">
                <ion-grid class="ion-padding-bottom">
                    <ion-row size="12">
                        <ion-col size="2">
                            <ion-img style="height: 50px;" src="assets/iconos2/avatar.png"></ion-img>
                        </ion-col>
                        <ion-col>
                            <ion-row>
                                <ion-col class="ion-no-margin ion-no-padding">
                                    <p id="nombreusuario">Norman Riascos</p>
                                    <p id="carrerausuario">Mag. Ingenieria</p>
                                    <p class="ion-no-margin" style="font-size:x-small;">12 horas</p>
                                </ion-col>
                            </ion-row>
                        </ion-col>
                        <ion-col class="ion-no-margin ion-no-padding">
                            <ion-button class="ion-float-right" id="follow">
                                Seguir
                            </ion-button>
                        </ion-col>
                        <ion-col size="1" class="ion-no-padding" style="padding-left: 5px;">
                            <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
                        </ion-col>
                    </ion-row>
                    <ion-row class="ion-padding-start ion-padding-end">
                        <ion-row class="ion-no-padding">
                            <ion-col size="12">
                                <b class="ion-no-padding" style="font-size: small;">Como invertir en la bolsa de valores por medio de Forex?</b>
                            </ion-col>
                        </ion-row>
                        <ion-col size="12">
                            <p class="ion-text-justify" style="font-size:smaller; margin-top: 0px;">Lorem Ipsum ist ein einfacher Demo-Text für die Print- und Schriftindustrie. Lorem Ipsum ist in der Industrie bereits der Standard Demo-Text seit 1500, als ein unbekannter Schriftsteller eine Hand voll Wörter nahm und diese
                                durcheinander warf um ein Musterbuch zu erstellen.
                            </p>
                        </ion-col>
                        <ion-col>
                            <ion-img src="assets/iconos2/OpciónherramientaPost.jpg"></ion-img>
                        </ion-col>
                        <ion-row class="btnreaction">
                            <ion-col>
                                <ion-row>
                                    <ion-icon name="chatbox-outline"></ion-icon>
                                    <p id="comments">200 comentarios</p>
                                </ion-row>
                            </ion-col>
                            <ion-col>
                                <ion-row>
                                    <ion-icon name="eye-outline"></ion-icon>
                                    <p id="view">200 visualizaciones</p>
                                </ion-row>
                            </ion-col>
                            <ion-col>
                                <ion-row>
                                    <ion-icon name="share-social-outline"></ion-icon>
                                    <p id="share">200 compartidas</p>
                                </ion-row>
                            </ion-col>
                            <ion-col>
                                <ion-row>
                                    <ion-icon name="add-outline"></ion-icon>
                                    <p id="sigue">200 siguiendo</p>
                                </ion-row>
                            </ion-col>
                        </ion-row>
                    </ion-row>
                    <ion-row class="cajareaccion">
                        <ion-col>
                            <ion-row>
                                <ion-icon name="thumbs-up-outline" color="orange"></ion-icon>
                                <p>Reaccionar</p>
                            </ion-row>
                        </ion-col>
                        <ion-col>
                            <ion-row>
                                <ion-icon name="chatbox-outline" color="orange"></ion-icon>
                                <p>Comentar</p>
                            </ion-row>
                        </ion-col>
                        <ion-col>
                            <ion-row>
                                <ion-icon name="share-social-outline" color="orange"></ion-icon>
                                <p>Compartir</p>
                            </ion-row>
                        </ion-col>
                        <ion-col>
                            <ion-row>
                                <ion-icon name="add-circle-outline" color="orange"></ion-icon>
                                <p>Seguir</p>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                    <ion-row class="ion-padding-start ion-padding-end">
                        <ion-col size="12" style="background-color: #ddd;border-radius: 12px;">
                            <ion-row>
                                <ion-img style="width:25px;" src="assets/iconos/mensaje.svg"></ion-img>
                                <p style="padding-left: 10px;font-size: small;">Haz una pregunta a la comunidad!</p>
                            </ion-row>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        </div>


        <div class="side" style="background: #ddd;">
            <app-sectionrightperfil></app-sectionrightperfil>
        </div>
    </div>

</ion-content>