<ion-header>
    <ion-toolbar>
        <p style="font-size: small; color: white;">Elige tu publico al cual va orientada tu pregunta</p>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item>
            <ion-checkbox color="orange" slot="start"></ion-checkbox>
            <ion-label>Publico</ion-label>
        </ion-item>
        <ion-item>
            <ion-checkbox color="orange" slot="start"></ion-checkbox>
            <ion-label>Circulos</ion-label>
        </ion-item>
        <ion-item>
            <ion-checkbox color="orange" slot="start"></ion-checkbox>
            <ion-label>Mis Seguidores</ion-label>
        </ion-item>
        <ion-item>
            <ion-checkbox color="orange" slot="start"></ion-checkbox>
            <ion-label>Mis Contactos</ion-label>
        </ion-item>
    </ion-list>
</ion-content>