<ion-header>
    <app-header></app-header>
</ion-header>

<ion-content>
    <div class="row">
        <div class="side">
            <app-left-cv></app-left-cv>
        </div>
        <div class="main">
            <ion-grid>
                <ion-row>
                    <app-info></app-info>
                </ion-row>
            </ion-grid>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <div style="font-weight: bold; color: #043C66;">
                            <p style="border-bottom: #043C66 2px solid; width:50%;">
                                Certificacion SENA
                            </p>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-select [(ngModel)]="nombreprograma" id="nombreprograma" interface="popover" placeholder="Nombre de Programa de Formacion">
                            <ion-select-option value="XXX">
                                XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</ion-select-option>

                        </ion-select>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-select [(ngModel)]="Nivel" id="nivel" interface="popover" placeholder="Nivel">
                            <ion-select-option value="Complementario">
                                Complementario</ion-select-option>
                            <ion-select-option value="Tecnico">
                                Tecnico</ion-select-option>
                            <ion-select-option value="Tecnologico">
                                Tecnologico</ion-select-option>
                        </ion-select>
                    </ion-col>
                    <ion-col>
                        <ion-item class="ion-no-margin" id="fechainicio">
                            <ion-icon slot="end" color="orange" name="calendar-outline"></ion-icon>
                            <ion-datetime [(ngModel)]="FechaInicio" displayFormat="DD/MMM/YYYY" placeholder="Fecha de inicio">
                            </ion-datetime>
                        </ion-item>
                    </ion-col>
                    <ion-col>
                        <ion-item class="ion-no-margin" id="fechafinal">
                            <ion-datetime [(ngModel)]="FechaFinal" displayFormat="DD/MMM/YYYY" placeholder="Fecha de Finalizacion">
                            </ion-datetime>
                            <ion-icon slot="end" color="orange" name="calendar-outline"></ion-icon>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <div>
                            <ion-checkbox color="orange" checked="false">
                            </ion-checkbox>
                            <ion-label class="ion-padding-start">Quiero agregar competencia</ion-label>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-select [(ngModel)]="CentroFormacion" id="nombreprograma" interface="popover" placeholder="Centro de Formacion">
                            <ion-select-option value="XXX">
                                XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</ion-select-option>
                        </ion-select>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-select [(ngModel)]="Modalidad" id="nivel" interface="popover" placeholder="Modalidad">
                            <ion-select-option value="Presencial">
                                Presencial</ion-select-option>
                            <ion-select-option value="Semiprecensial">
                                Semiprecensial</ion-select-option>
                            <ion-select-option value="Virtual">
                                Virtual</ion-select-option>
                        </ion-select>
                    </ion-col>
                    <ion-col>
                        <ion-select [(ngModel)]="RedConocimiento" id="nivel" interface="popover" placeholder="Red de Conocimiento">
                            <ion-select-option value="Informatica y desarrollo de Software">
                                Informatica y desarrollo de Software</ion-select-option>
                            <ion-select-option value="Telecomunicaciones">
                                Telecomunicaciones</ion-select-option>
                            <ion-select-option value="Ventas">
                                Ventas</ion-select-option>
                            <ion-select-option value="Publicidad">
                                Publicidad</ion-select-option>
                        </ion-select>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <div>
                            <ion-checkbox [(ngModel)]="isActive" color="orange" checked="false">
                            </ion-checkbox>
                            <ion-label class="ion-padding-start">Adjuntar Certificado</ion-label>
                        </div>
                    </ion-col>
                </ion-row>
                <br>
                <ion-row>
                    <div>
                        <ion-button *ngIf="isActive" class="ion-margin-start" color="blue" style="width:100px;">Anexar</ion-button>
                    </div>
                </ion-row>
                <ion-row *ngIf="!isActive" style="overflow-x:auto;">
                    <div id="table">
                        <table>
                            <tr>
                                <th>Cod</th>
                                <th>Programa</th>
                                <th>Modalidad</th>
                                <th>Nivel</th>
                                <th>Red de Conocimiento</th>
                                <th>F. de Inicio</th>
                                <th>F. de Finalizacion</th>
                                <th>Centro de Formacion</th>
                            </tr>
                            <tr>
                                <td></td>
                                <td>{{nombreprograma}}</td>
                                <td>{{Modalidad}}</td>
                                <td>{{Nivel}}</td>
                                <td>{{RedConocimiento}}</td>
                                <td>{{FechaInicio| date:'dd-MM-yyyy'}}</td>
                                <td>{{FechaFinal | date:'dd-MM-yyyy'}}</td>
                                <td>{{CentroFormacion}}</td>
                            </tr>
                        </table>
                    </div>
                    <br>
                </ion-row>
                <br>
                <ion-row>
                    <ion-col>
                        <div>
                            <ion-checkbox color="orange">
                            </ion-checkbox>
                            <ion-label class="ion-padding-start">Notificar automaticamente a mis seguidores</ion-label>
                        </div>
                    </ion-col>
                </ion-row>
                <br>
                <ion-row>
                    <ion-col size="2.5">
                    </ion-col>
                    <ion-col>
                        <div>
                            <ion-button color="whiteblue" id="Guardar">Guardar</ion-button>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            <ion-button color="whiteblue" id="Cerrar">Cerrar</ion-button>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>