<ion-toolbar id="header">
    <ion-row size="12">
        <ion-img class="ion-margin-start" id="logo" src="assets/iconos/logo.png"></ion-img>
        <ion-searchbar id="buscar" placeholder="Busca en Jofiel "></ion-searchbar>
        <ion-row style="margin-left: auto;display: flex;align-items: center;">
            <div (click)="toHome()">
                <ion-img id="inicio" src="assets/iconos/inicio.png"></ion-img>
                <ion-label style="color: white;font-size: small;">Inicio</ion-label>
            </div>
            <div (click)="toCuestion()">
                <ion-img id="pregunta" src="assets/iconos/cuestionarios.png"></ion-img>
                <ion-label style="color: white;font-size: small;">Cuestionario</ion-label>
            </div>
            <div class="ion-margin-start">
                <ion-img id="mensaje" src="assets/iconos/suscribirse.png"></ion-img>
                <ion-label style="color: white;font-size: small;">Suscribirse</ion-label>
            </div>
            <div class="ion-margin-start">
                <ion-img id="audio" src="assets/iconos/audio.png"></ion-img>
                <ion-label style="color: white;font-size: small;">Audio-Articulos</ion-label>
            </div>
            <div class="ion-margin-start">
                <ion-img id="coin" src="assets/iconos/monetiza.png"></ion-img>
                <ion-label style="color: white;font-size: small;">Monetizar</ion-label>
            </div>
            <div style="cursor: pointer;" (click)="notificationPopover($event) " class="ion-margin-start">
                <ion-img id="noti" src="assets/iconos/noti.png"></ion-img>
                <ion-label style="color: white;font-size: small;">Notificaciones </ion-label>
            </div>
            <div class="ion-margin-start">
                <ion-button id="preguntar" color="orange" size="small">
                    Preguntar algo
                </ion-button>
            </div>
            <div style="cursor: pointer;" (click)="presentPopover($event)" class="ion-margin-start ion-margin-end">
                <ion-img id="avatar" src="assets/iconos2/Yo.png"></ion-img>
                <ion-label id="yo">Yo</ion-label>
            </div>
            <div></div>
        </ion-row>
    </ion-row>
</ion-toolbar>
<ion-toolbar id="header2">
    <ion-row size="12" class=" ion-margin-top ion-margin-bottom">
        <ion-img class="ion-margin-start" id="logo" src="assets/iconos/logo.png"></ion-img>
        <ion-searchbar id="buscar" placeholder="Busca en Jofiel "></ion-searchbar>
        <ion-row style="margin-left: auto;margin-right: auto;display: flex;align-items: center;">
            <div (click)="toHome()" style="margin-right: 5px;">
                <ion-img id="inicio" src="assets/iconos/inicio.png"></ion-img>
            </div>
            <div style="margin-right: 5px;">
                <ion-img id="pregunta" src="assets/iconos/cuestionarios.png"></ion-img>
            </div>
            <div style="margin-right: 5px;">
                <ion-img id="mensaje" src="assets/iconos/suscribirse.png"></ion-img>
            </div>
            <div style="margin-right: 5px;">
                <ion-img id="audio" src="assets/iconos/audio.png"></ion-img>
            </div>
            <div style="margin-right: 5px;">
                <ion-img id="coin" src="assets/iconos/monetiza.png"></ion-img>
            </div>
            <div (click)="notificationPopover($event)" style="margin-right: 5px;">
                <ion-img id="noti" src="assets/iconos/noti.png"></ion-img>
            </div>
            <div style="margin-right: 5px;">
                <ion-button id="preguntar" color="orange" size="small">
                    ?
                </ion-button>
            </div>
            <div (click)="presentPopover($event)" style="margin-right: 5px;" class="ion-margin-end">
                <ion-img id="avatar" src="assets/iconos2/Yo.png"></ion-img>
            </div>
        </ion-row>
    </ion-row>
</ion-toolbar>