<div>
    <h1 style="border-bottom: 4px #043C66 solid; width: 60%;">Informacion Personal</h1>
</div>
<ion-grid class="info">
    <ion-row>
        <ion-col align="center" size="5">
            <img style="width: 250px;" [src]="image" />
        </ion-col>
        <ion-col style="margin: -30px 0px -30px 0px;">
            <ion-col id="columna02">
                <br>
                <br>
                <p class="ion-no-margin" style="color: #043C66; border-bottom: 3px #043C66 solid; width:75%;">Nombre de Usuario</p>
                <strong class="ion-no-margin" style="font-size: x-large;">Norman Riascos</strong>
                <br>
                <br>
                <p class="ion-no-margin" style="color: #043C66;border-bottom: 3px #043C66 solid; width:75%;">Profesion</p>
                <p class="ion-no-margin">Magister en Ingenieria</p>
                <br>
                <p class="ion-no-margin" style="color: #043C66;border-bottom: 3px #043C66 solid; width:75%;">Descripcion</p>
                <p class="ion-no-margin">Me encanta la tecnologia, siempre estoy buscando cosas nuevas</p>
            </ion-col>
        </ion-col>
    </ion-row>
</ion-grid>