.row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
}

.side {
    -ms-flex: 12%;
    /* IE10 */
    flex: 12%;
    padding: 10px;
}

.side::before {
    content: '';
    height: 75%; //You can change this if you want smaller/bigger borders
    width: 2px;
    position: absolute;
    right: -10px;
    top: 0; // If you want to set a smaller height and center it, change this value
    background-color: #043C66; // The color of your border
    //
}

.main {
    -ms-flex: 50%;
    /* IE10 */
    flex: 50%;
    padding: 10px;
}

#avatarusuario {
    width: 125px;
    height: 125px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1 {
    color: #043C66;
    font-size: small;
}

#progreso {
    border-radius: 25px;
    border-color: #043C66;
    border-style: solid;
}

#Porcentaje {
    float: right;
    font-size: 24px;
    color: #043C66;
    font-weight: 500;
}

#link {
    float: right;
    color: #F4870F;
    text-decoration: underline;
    text-decoration-color: #043C66;
}

#verCertificado {
    --border-style: solid;
    --border-color: #043C66;
    --border-radius: 12px;
    width: 50%;
    background-color: white;
}

@media only screen and (max-width: 600px) {
    #verCertificado {
        font-size: small;
        width: 90%;
    }
}