.content {
    background-image: url('/../../assets/iconos2/crayons.png');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.login {
    background-color: white;
    top: 70px;
}

ion-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

.nombre {
    border: grey 1px solid;
    border-radius: 10px;
}

.contrasena {
    border: grey 1px solid;
    border-radius: 10px;
}

.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

@media (max-width: 768px) {
    .login {
        position: absolute;
        background-color: white;
        width: 95%;
        right: 9px;
        top: 5%;
    }
}

@media (max-width:320px) {
    .login {
        position: absolute;
        background-color: white;
        width: 95%;
        right: 9px;
        top: 1%;
    }
}