<div id="Perfil" id="column02">
    <ion-card-header id="line02">
        <b class="ion-no-margin" style=" color: F4870F; font-size: 30px;">Hola</b>
        <h1 style="color: 043C66; font-size: 30px;">Norman Riascos</h1>
        <p class="ion-no-margin">Termina de completar tu perfil</p>
        <h2>Estado de tu perfil</h2>
        <ion-progress-bar [value]="progress"></ion-progress-bar>
        <ion-label id="porcentaje">{{porcentaje}}%</ion-label>
    </ion-card-header>
    <br>
    <ion-grid>
        <ion-row>
            <ion-col>
                <div>Informacion Personal</div>
            </ion-col>
            <ion-col>
                <a id="link" href="/hoja-de-vida/info-personal" class="underline">Editar
                  <ion-icon name="brush"></ion-icon>
                </a>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div>Estudios Profesionales</div>
            </ion-col>
            <ion-col>
                <a color="orange" id="link" href="/hoja-de-vida/credenciales" class="underline">
                  Agregar
                  <ion-icon name="brush"></ion-icon>
                </a>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div>Articulos academicos y laborales</div>
            </ion-col>
            <ion-col>
                <a id="link" href="/hoja-de-vida/articulos-academicos" class="underline">
                  Agregar
                  <ion-icon name="brush"></ion-icon>
                </a>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div>Nombres de Libros</div>
            </ion-col>
            <ion-col>
                <a id="link" href="/hoja-de-vida/libros" class="underline">
                  Agregar
                  <ion-icon name="brush"></ion-icon>
                </a>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div>Proyectos academicos y laborales</div>
            </ion-col>
            <ion-col>
                <a id="link" href="/hoja-de-vida/proyectos" class="underline">
                  Agregar
                  <ion-icon name="brush"></ion-icon>
                </a>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div>Certificaciones SENA</div>
            </ion-col>
            <ion-col>
                <a id="link" href="/hoja-de-vida/certificacion" class="underline">
                  Agregar
                  <ion-icon name="brush"></ion-icon>
                </a>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div>Capacitaciones</div>
            </ion-col>
            <ion-col>
                <a id="link" href="/hoja-de-vida/capacitacion" class="underline">
                  Agregar
                  <ion-icon name="brush"></ion-icon>
                </a>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div>Tecnologia Informatica</div>
            </ion-col>
            <ion-col>
                <a id="link" href="/hoja-de-vida/tecnologias" class="underline">
                  Agregar
                  <ion-icon name="brush"></ion-icon>
                </a>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div>Competencia por certificaciones</div>
            </ion-col>
            <ion-col>
                <a id="link" href="" class="underline">
                  Agregar
                  <ion-icon name="brush"></ion-icon>
                </a>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div>Credenciales laborales</div>
            </ion-col>
            <ion-col>
                <a id="link" href="" class="underline">
                  Agregar
                  <ion-icon name="brush"></ion-icon>
                </a>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div>Idiomas</div>
            </ion-col>
            <ion-col>
                <a id="link" href="/hoja-de-vida/idioma" class="underline">
                  Agregar
                  <ion-icon name="brush"></ion-icon>
                </a>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div>Otros logros academicos</div>
            </ion-col>
            <ion-col>
                <a id="link" href="/hoja-de-vida/otros" class="underline">
                  Agregar
                  <ion-icon name="brush"></ion-icon>
                </a>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>