<ion-content>
    <ion-grid style="position: relative;top: 30px;">
        <ion-row>
            <ion-col style="font-weight: bold; color:#043C66;">
                <h2 class="ion-no-margin">Norman Riascos</h2>
            </ion-col>
        </ion-row>
        <ion-row id="trabajo">
            <ion-col style=" font-weight: bold; color:grey;">
                <b class="ion-no-margin">Desarrollador Senior</b>
                <p class="ion-no-margin">(Microsoft Inc 2016 - 2020)</p>
            </ion-col>
        </ion-row>
        <ion-row style="color:gray; position: relative; left:70px">
            <ion-col>
                <b>Funciones y actividades del cargo</b>
            </ion-col>
        </ion-row>
        <ion-row style="position: relative;left: 70px; ">
            <ion-col>
                <ion-searchbar placeholder="Funcion "></ion-searchbar>
                <table style="width:75% ">
                    <tr>
                    </tr>
                    <tr>
                        <td>Actividad</td>
                        <td>
                            <ion-icon color="orange" name="checkmark-outline"></ion-icon>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Actividad</td>
                        <td>
                            <ion-icon color="orange" name="checkmark-outline"></ion-icon>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Actividad</td>
                        <td>
                            <ion-icon color="orange" name="checkmark-outline"></ion-icon>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Actividad</td>
                        <td>
                            <ion-icon color="orange" name="checkmark-outline"></ion-icon>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </ion-col>
        </ion-row>
        <br>
        <ion-row>
            <ion-col size="12">
                <ion-button color="bluelight" style="color: #043C66;" (click)="closeModal()">
                    Cerrar
                </ion-button>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>