.row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
}

.side {
    -ms-flex: 12%;
    /* IE10 */
    flex: 12%;
    padding: 10px;
}

.side::before {
    content: '';
    height: 75%; //You can change this if you want smaller/bigger borders
    width: 2px;
    position: absolute;
    right: -10px;
    top: 0; // If you want to set a smaller height and center it, change this value
    background-color: #043C66; // The color of your border
    //
}

.main {
    -ms-flex: 50%;
    /* IE10 */
    flex: 50%;
    padding: 10px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 99%;
}

td,
th {
    border: 1px solid #dddddd;
    padding: 8px;
}

th {
    background-color: #dddddd;
}

#nombre {
    border: 3px #043C66 solid;
    border-radius: 12px;
    color: #043C66;
}

#categoria {
    border: 3px #043C66 solid;
    border-radius: 12px;
    color: #043C66;
    width: 48%;
}

#desc {
    border-radius: 5px;
    border: #ddd 2px solid;
}

#descripcion {
    border: 3px #043C66 solid;
    border-radius: 12px;
}

#anadirparticipante {
    margin-left: 12px;
}

#editarparticipante {
    margin-left: 12px;
}

#borrarparticipante {
    margin-left: 12px;
}

#btnguardar {
    border: 2px solid #F4870F;
    border-radius: 5px;
}

#btncancelar {
    border: 2px solid #F4870F;
    border-radius: 5px;
}

ion-checkbox {
    --border-color: orange;
}

ion-row {
    width: 97%;
}

ion-searchbar {
    --border-radius: 25px;
    border: #043C66 1px solid;
    border-radius: 25px;
    color: #043C66;
}

@media only screen and (max-width: 600px) {
    #ultimafila {
        width: 20px;
    }
    #btnguardar {
        font-size: smaller;
    }
    #btncancelar {
        font-size: smaller;
    }
    #tabla {
        width: 33px;
    }
    #buscar {
        width: 320px;
    }
}