<ion-content>
    <br>
    <div id="monetiza">
        <h5>Monetiza tus articulos</h5>
    </div>
    <ion-row id="monetizar" class="ion-margin-bottom">
        <p>Consulta artículos académicos y científicos</p>
        <p>Aprende más fácil respondiendo cuestionarios</p>
        <p>Audio-Artículos - Estudia escuchando</p>
        <ion-col class="ion-no-padding" size="12">
            <ion-select *ngIf="isactive" placeholder="Materiales educativos" okText="Okay" cancelText="Dismiss">
                <ion-select-option value="brown">Brown</ion-select-option>
                <ion-select-option value="blonde">Blonde</ion-select-option>
                <ion-select-option value="black">Black</ion-select-option>
                <ion-select-option value="red">Red</ion-select-option>
            </ion-select>
        </ion-col>
        <ion-col class="ion-no-padding" size="12">
            <div>
                <p *ngIf="!actived" (click)="activedd()" style="color: #073c66;font-weight: bold; cursor: pointer;">
                    Contenido Jurídico
                    <ion-icon name="caret-down-outline"></ion-icon>
                </p>
                <div id="sector">
                    <p *ngIf="actived" (click)="inactived()" style="font-weight: bold;cursor: pointer;">
                        Contenido Jurídico
                    </p>
                </div>
                <div>
                    <ion-chip *ngIf="actived" color="blue" outline="false">
                        <ion-label>Decreto Aduanero</ion-label>
                    </ion-chip>
                </div>
                <div>
                    <ion-chip *ngIf="actived" color="blue" outline="false">
                        <ion-label>Estatuto Nacional Aduanero</ion-label>
                    </ion-chip>
                </div>
                <div>
                    <ion-chip *ngIf="actived" color="blue" outline="false">
                        <ion-label>Código de Policia nacional</ion-label>
                    </ion-chip>
                </div>
                <div>
                    <ion-chip *ngIf="actived" color="blue" outline="false">
                        <ion-label>Colombiano</ion-label>
                    </ion-chip>
                </div>
                <div>
                    <ion-chip *ngIf="actived" color="blue" outline="false">
                        <ion-label>Codigo sustantivo del trabajo</ion-label>
                    </ion-chip>
                </div>
                <div>
                    <ion-chip *ngIf="actived" color="blue" outline="false">
                        <ion-label>Código del Régimen Departamental</ion-label>
                    </ion-chip>
                </div>
                <div>
                    <ion-chip *ngIf="actived" color="blue" outline="false">
                        <ion-label>Código del Régimen Municipal</ion-label>
                    </ion-chip>
                </div>
                <div>
                    <ion-chip *ngIf="actived" color="blue" outline="false">
                        <ion-label>Código Electoral</ion-label>
                    </ion-chip>
                </div>
                <div>
                    <ion-chip *ngIf="actived" color="blue" outline="false">
                        <ion-label>Código de Educación</ion-label>
                    </ion-chip>
                </div>
            </div>
        </ion-col>
        <ion-col size="12" *ngIf="isactive">
            <ion-label>Referidos</ion-label>
        </ion-col>
        <ion-col size="12" *ngIf="isactive">
            <ion-label>Referenciar un Jofieler</ion-label>
        </ion-col>
        <ion-col size="12" *ngIf="isactive">
            <ion-label>Cursos</ion-label>
        </ion-col>
        <ion-col size="12" *ngIf="isactive">
            <ion-label>Suscribirse</ion-label>
        </ion-col>
        <ion-col size="12">
            <ion-button *ngIf="!isactive" id="vermas" color="whiteblue" size="small" (click)="active()">
                Ver Más
                <ion-icon name="caret-down-outline"></ion-icon>
            </ion-button>
            <ion-button *ngIf="isactive" id="vermas" color="whiteblue" size="small" (click)="inactive()">
                Ver Menos
                <ion-icon name="caret-up-outline"></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>
    <ion-row style="border-top: rgb(97, 97, 97) 1px solid;">
        <ion-col class="ion-margin-top" id="articulos">
            <h5>Articulos</h5>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <p style="color:#073c66">Juridicos</p>
            <p style="color:#073c66">Ventas</p>
            <p style="color:#073c66">Deportes</p>
            <p style="color:#073c66">Ciencia y Tecnología</p>
        </ion-col>
    </ion-row>
</ion-content>