.row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
}

.side {
    -ms-flex: 12%;
    /* IE10 */
    flex: 12%;
    padding: 10px;
}

.side::before {
    content: '';
    height: 75%; //You can change this if you want smaller/bigger borders
    width: 2px;
    position: absolute;
    right: -10px;
    top: 0; // If you want to set a smaller height and center it, change this value
    background-color: #043C66; // The color of your border
    //
}

.main {
    -ms-flex: 50%;
    /* IE10 */
    flex: 50%;
    padding: 10px;
}

#NombreLibro {
    border: 2px solid;
    border-color: #043C66;
    border-radius: 5px;
}

#Guardar {
    border: 2px solid #F4870F;
    border-radius: 5px;
}

#Cerrar {
    border: 2px solid #F4870F;
    border-radius: 5px;
}

#desc {
    border-radius: 5px;
    border: #ddd 2px solid;
}

ion-select::part(text) {
    color: #043C66;
}


/* Set the icon color and opacity */

ion-select::part(icon) {
    color: #043C66;
    opacity: 1;
}

ion-select {
    background-color: #ddd;
    border-radius: 5px;
}

ion-checkbox {
    --border-color: orange;
}


/* Set the placeholder color and opacity */

ion-select::part(placeholder) {
    color: #043C66;
    opacity: 1;
}