#monetiza {
    background-color: orange;
    border-radius: 25px;
    height: 33px;
    display: flex;
    align-items: center;
    h5 {
        color: white;
        font-weight: bold;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

#preguntas {
    background: white;
    border-radius: 12px;
}

ion-content {
    --background: #ddd;
}