<ion-content>
    <div id="preguntas">
        <br>
        <div id="monetiza">
            <h5>Preguntas por círculos</h5>
        </div>
        <ion-row size="12">
            <ion-chip color="blue">
                <ion-label>Internet</ion-label>
            </ion-chip>
        </ion-row>
        <ion-row size="12">
            <ion-chip color="blue">
                <ion-label>Tecnologia y Computadoras</ion-label>
            </ion-chip>
        </ion-row>
        <ion-row size="12">
            <ion-chip color="blue">
                <ion-label>Electrónica</ion-label>
            </ion-chip>
        </ion-row>
        <ion-row size="12">
            <ion-chip color="blue">
                <ion-label>Política</ion-label>
            </ion-chip>
        </ion-row>
        <ion-row size="12">
            <ion-chip color="blue">
                <ion-label>Deportes</ion-label>
            </ion-chip>
        </ion-row>
        <ion-row size="12">
            <ion-chip color="blue">
                <ion-label>Entretenimiento</ion-label>
            </ion-chip>
        </ion-row>
        <ion-row size="12">
            <ion-chip color="blue">
                <ion-label>Ventas</ion-label>
            </ion-chip>
        </ion-row>
        <ion-row size="12">
            <ion-chip color="blue">
                <ion-label>Comercio Internacional</ion-label>
            </ion-chip>
        </ion-row>
        <ion-row size="12">
            <ion-chip color="blue">
                <ion-label>Biologia</ion-label>
            </ion-chip>
        </ion-row>
    </div>
    <br>
    <ion-img src="assets/iconos2/clickhere.png "></ion-img>
</ion-content>